body {
    background-color: rgb(96, 93, 97);
    font-size: medium;
}


.ejemplo {
    border: 1px solid rgb(88, 52, 52);
    margin: 6px;
    background-color: rgb(250, 241, 241);
    color: rgb(49, 86, 128);
    width: 30%;
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    font-size: 30px;
}

.una-caja {
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    background-color: rgb(150, 150, 150);
    padding: 10px;
    width: 50%;
    height: auto;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

p {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

a {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

header {
    background-color: rgb(64, 61, 61);
    padding: 10px;
    text-align: center;
}