body {
    background-color: rgb(92, 81, 81);
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    
}

.caja-link {
    background-color: rgb(255, 255, 255);
    color : rgb(37, 30, 30);
    margin: 6px;
    padding: 10px;
    width: 400px;
    height: 20px;
}

#una-caja {
    background-color: rgb(71, 23, 23);
    color : rgb(209, 187, 187);
    margin: 2px;
    padding: 10px;
    width: 200px;
    height: 120px;
}

h2 {
    color: rgb(54, 37, 129);
    text-align: center;
}
#pasos {
    color: rgb(219, 167, 84);
    font-family: italic;
}
#objetos {
    color: rgb(91, 124, 255);
    font-family: calibri;
}
  